@model WebWeatherApp.Models.Weather

@{
    ViewData["Title"] = "Today's Weather";
}

<div class="sidenav">
    <a href="#">Change Location</a>
    <a href="#">Tomorrow</a>
    <a href="#">Week</a>
    <a href="#">Celcius</a>
</div>

<table class="WeatherBox">  
    <tbody>
        <tr>
            <td>
                <div class="mainWeather">
                    <div class="shadow">
                        <div class="content">
                            <h1>+17 <img src="https://cdn.weatherapi.com/weather/64x64/night/116.png" alt="Cloudy Weather" /> </h1>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
                            <h5 style="color:white">Today's weather: Sunny</h5>
                            <button class="mainButton">See Hourly</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h1>The Wind</h1>
            </td>
        </tr>
    </tbody>
</table> 